@import './styles/mixin';

.App {
  text-align: center;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

#limit{
  margin:15px;
  font-size: 1.2rem;
  text-align: left;
  select{
    font-size: 1rem;
  }
}

#Trending-Container{
  width:100%;
  box-sizing: border-box;
  .Trending-Grid{
    width:100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap:20px;
    @include Tablet{
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-gap:15px;
    }
    @include Mobile{
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-gap:10px;
    }
  }
}